#root {
    padding: 0px;
    margin: -8px;
    box-sizing: border-box;
    font-family: sans-serif;
    background: linear-gradient(rgb(252, 210, 210), rgb(245, 192, 255), violet);

}


a {
    text-decoration: none;
    color: rgb(97, 97, 97);
}

li {
    list-style: none;

}

.btns {
    padding: 10px 20px;
    margin-right: 6 px;
    background: transparent;
    border: 0.6px solid #ccc;
    border-radius: 5px;
    color: #323232;
    cursor: pointer;
}